/* You can add global styles to this file, and also import other style files */
header {
    background-color: #3f51b5;
    overflow: auto;
}

main {
    margin: 2em;
}

@media (max-width: 850px) {
    .inside-panel {
        width: 100%;
    }
}

@media (min-width: 851px) {
    .inside-panel {
        width: 50%;
    }
}

.inside-panel {
    float: none;
    margin: 0 auto;
}