<h2 class="lead">Here you'll find how far your pound will go after the EU Referendum of June 23 when going on holidays abroad.</h2>
<p class="text-center">Ready to start?</p>
<form class="inside-panel" (ngSubmit)="onSubmit(f.value)" #f="ngForm"  novalidate>
    <div class="form-group">
        <label for="amount">How much money are you converting, in sterling?</label>
        <input type="number" (ngModel)="model.amount" min="1" class="form-control" 
        id="amount" name="amount" #amount="ngModel" required>
        <div [hidden]="amount.valid || amount.pristine"
             class="alert alert-danger">
          Amount is required
        </div>
    </div>
    <div *ngIf="countries && countries.length; else loading_countries" class="form-group">
        <label for="countryId">Where are you going to?</label>
        <select class="form-control" [(ngModel)]="selectedCountryValue" 
        id="countryId" name="countryId" #country="ngModel" ddInvalidValue="-1">
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
        <div [hidden]="(country.valid || country.pristine)" class="alert alert-danger">
          Country is required
        </div>
    </div>
    <ng-template #loading_countries>
        <label>Where are you going to?</label>
        <div class="form-group">
            <select class="form-control" disabled>
                <option>Loading countries...</option>
            </select>
        </div>
    </ng-template>
    <button type="submit" class="btn btn-default" [disabled]="!f.form.valid">Show me</button>
</form>