<p class="text-center">Before the referendum you could have had:</p>
<h2 *ngIf="noOfProductsPreRef && productName" class="text-center">{{noOfProductsPreRef}} {{productName}}</h2>
<p class="text-center">with that amount</p>
<p *ngIf="preRefExchangeRate && currencyCode" class="text-center">at the exhange rate of {{preRefExchangeRate}} {{currencyCode}} / pound</p>
<p *ngIf="exchangeRate && currencyCode" class="text-center">(last exchange rate is {{exchangeRate}} {{currencyCode}} / pound)</p>
<footer class="text-center">Exchange rates updated: Thu 12 Apr 2017</footer>